@model IEnumerable<SistemaWebCooperativa.Models.Producao>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Produções</h1>

<p>
    <a asp-action="Create">Adicionar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cooperado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cooperado.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produto.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
