@model IEnumerable<SistemaWebCooperativa.Models.Transacao>

@{
    ViewData["Title"] = "Transações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Transações</h1>

<p>
    <a asp-action="Create">Adicionar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.producao)
            </th>
            <th>
                Cooperado
            </th>
            <th>
                Produto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.operacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            float totalGeral = 0;
        }
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.producao.id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.producao.cooperado.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.producao.produto.nome)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.operacao)
            </td>
                @{
                    float total = item.quantidade * item.valor;
                    totalGeral = totalGeral + total;
                }
                 <td>
                    @Html.DisplayFor(modelItem => item.total)
                 </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div align="right">
    <h3>Total Geral: @totalGeral.ToString("C2")</h3>
</div>